@font-face {
  font-family: AmericaBoldItalic;
  src: url(./fonts/GT-America-Bold-Italic.otf);
}
@font-face {
  font-family: AmericaBold;
  src: url(./fonts/GT-America-Bold.otf);
}
@font-face {
  font-family: AmericaLightItalic;
  src: url(./fonts/GT-America-Light-Italic.otf);
}
@font-face {
  font-family: AmericaLight;
  src: url(./fonts/GT-America-Light.otf);
}
@font-face {
  font-family: AmericaMediumItalic;
  src: url(./fonts/GT-America-Medium-Italic.otf);
}
@font-face {
  font-family: AmericaMedium;
  src: url(./fonts/GT-America-Medium.otf);
}